@model IEnumerable<SistemWalter.ViewModels.PagosView>

@{
    ViewBag.Title = "Index";

    var Rol = Convert.ToString(Session["Rol"]);
}
<br />
<br />

<br />
<br />
<h2>Pagos</h2>
<div class="row">
    @*falta agregar el buscador o filtrado*@
</div>

@Rol


    <div class="row">

        <div class="table-responsive">
            <table class="table alert-info">
                <tr>
                    <th class="active alert-danger">
                        Cliente
                    </th>
                    <th class="active alert-danger">
                        N° Factura
                    </th>
                    <th class="active alert-danger">
                        @Html.DisplayNameFor(model => model.Consumo)
                    </th>
                    <th class="active alert-danger">
                        Mes Atrasado
                    </th>
                    <th class="active alert-danger">
                        @Html.DisplayNameFor(model => model.Total)
                    </th>
                    <th class="active alert-danger">
                        Fecha Lectura
                    </th>

                    <th class="active alert-danger">
                        Acciones
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NombreCliente)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Numero_Factura)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Consumo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Mes_Atrasado)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Total)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fecha_Lectura)
                        </td>

                        <td>
                            @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "btn btn-success glyphicon glyphicon-usd", @title = "Asignar Pago" })
                            @Html.ActionLink(" ", "Details", new { id = item.Id }, new { @class = "btn btn-warning glyphicon glyphicon-eye-open", @title = "Ver factura", @target = "_blank" })
                            @*@Html.ActionLink(" ", "CrearMora", "MoraClientes", new { id = item.ClienteId }, new { @class = "btn btn-danger glyphicon glyphicon-scissors", @title = "Registrar Mora" })*@
                        </td>
                    </tr>
                }

            </table>
        </div>

    </div>

