@model IEnumerable<SistemWalter.Context.Inscripcione>

@{
    ViewBag.Title = "Index";
}
<br />
<br />
<br />
<br />
<h2>Inscripciones</h2>

<p>
    @*@Html.ActionLink("Crear nuevo registro", "Create")*@
    @Html.ActionLink("Crear nuevo registro", "Create", new { }, new { @class = "btn btn-primary" })
</p>
<table class="table alert-info">
    <tr>
        <th class="active alert-danger">
            @Html.DisplayNameFor(model => model.Fecha_Inicio)
        </th>
        <th class="active alert-danger">
            @Html.DisplayNameFor(model => model.Monto_Pagar)
        </th>
        <th class="active alert-danger">
            @Html.DisplayNameFor(model => model.Plazo)
        </th>
        <th class="active alert-danger">
            @Html.DisplayNameFor(model => model.Cuota)
        </th>
        @*<th class="active alert-danger">
            @Html.DisplayNameFor(model => model.Estado)
        </th>*@
        @*<th class="active alert-danger">
            @Html.DisplayNameFor(model => model.Estado_Config)
        </th>*@
        <th class="active alert-danger">
            @Html.DisplayNameFor(model => model.Fecha_Registro)
        </th>
        @*<th class="active alert-danger">
            @Html.DisplayNameFor(model => model.Estado2)
        </th>*@
        <th class="active alert-danger">
            @Html.DisplayNameFor(model => model.Cliente.Nombre_Completo)
        </th>
        <th class="active alert-danger"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_Inicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monto_Pagar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plazo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cuota)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>*@
            @*<td>
                @Html.DisplayFor(modelItem => item.Estado_Config)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_Registro)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Estado2)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Nombre_Completo)
            </td>
            <td>
                @Html.ActionLink(".", "Edit", new { id = item.Id }, new { @class = "btn btn-success glyphicon glyphicon glyphicon-edit", @title = "Editar Cliente" })
                |
                @Html.ActionLink(".", "Details", new { id = item.Id }, new { @class = "btn btn-warning glyphicon glyphicon glyphicon-open-file", @title = "Detalles" })
                |
                @Html.ActionLink(".", "Delete", new { id = item.Id }, new { @class = " btn btn-sucess btn-danger glyphicon glyphicon glyphicon-erase", @title = "Eliminar Registro" })

            </td>
        </tr>
    }

</table>
