@model SistemWalter.Context.MoraCliente

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MoraCliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Meses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Meses)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cliente.Nombre_Completo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Nombre_Completo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
