@model IEnumerable<SistemWalter.Context.Empleado>

@{
    ViewBag.Title = "Index";
}
<br />
<br />
<br />
<h2>Empleados</h2>

<p>
    @Html.ActionLink(" Crear Nuevo Registro ", "Create", new { }, new { @class = "btn btn-primary glyphicon glyphicon-plus", @title = "Agregar" })

</p>
<table class="table alert-info">
    <tr>
        <th class="active alert-danger">
            @Html.DisplayNameFor(model => model.Nombre_Completo)
        </th>
        <th class="active alert-danger">
            @Html.DisplayNameFor(model => model.Fecha_Nacimiento)
        </th>
        <th class="active alert-danger">
            @Html.DisplayNameFor(model => model.Cargo)
        </th>
        <th class="active alert-danger">
            @Html.DisplayNameFor(model => model.DUI)
        </th>
        <th class="active alert-danger">
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th class="active alert-danger">
            @Html.DisplayNameFor(model => model.Correo)
        </th>
        <th class="active alert-danger">
            @Html.DisplayNameFor(model => model.Dirrecion)
        </th>
        @*<th class="active alert-danger">
            @Html.DisplayNameFor(model => model.Estado)
        </th>*@
        @*<th class="active alert-danger">
            @Html.DisplayNameFor(model => model.Fechar_Registro)
        </th>*@
        @*<th class="active alert-danger">
            @Html.DisplayNameFor(model => model.Empresa.Nombre)
        </th>*@
        <th class="active alert-danger"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre_Completo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_Nacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cargo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DUI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dirrecion)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>*@
            @*<td>
                @Html.DisplayFor(modelItem => item.Fechar_Registro)
            </td>*@
            @*<td>
                @Html.DisplayFor(modelItem => item.Empresa.Nombre)
            </td>*@
            <td>
                @Html.ActionLink(".", "Edit", new { id = item.Id }, new { @class = "btn btn-success glyphicon glyphicon glyphicon-edit", @title = "Editar Cliente" })
                |
                @Html.ActionLink(".", "Details", new { id = item.Id }, new { @class = "btn btn-warning glyphicon glyphicon glyphicon-open-file", @title = "Detalles" })
                |
                @Html.ActionLink(".", "Delete", new { id = item.Id }, new { @class = " btn btn-sucess btn-danger glyphicon glyphicon glyphicon-erase", @title = "Eliminar Registro" })

            </td>
        </tr>
    }

</table>
