@model IEnumerable<SistemWalter.Context.PagoInscripcion>

@{
    ViewBag.Title = "Index";
}

<h2>pago de Ins</h2>

<p>
    @Html.ActionLink("Crear nuevo registro", "Create", new { }, new { @class = "btn btn-primary" })
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table alert-info">
    <tr>
        <th class="active alert-danger">
            @Html.DisplayNameFor(model => model.Monto)
        </th>
        <th class="active alert-danger">
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th class="active alert-danger">
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th class="active alert-danger">
            @Html.DisplayNameFor(model => model.Cliente.Nombre_Completo)
        </th>
        <th class="active alert-danger">
            @Html.DisplayNameFor(model => model.Inscripcione.Estado)
        </th>
        <th class="active alert-danger"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Monto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.Nombre_Completo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Inscripcione.Estado)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-success glyphicon glyphicon glyphicon-edit" })
            @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, new { @class = "btn btn-success glyphicon glyphicon glyphicon-erase", @title = "Eliminar Registro" })
        </td>
    </tr>
}

</table>
