@model SistemWalter.Context.Tbl_Fechas

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tbl_Fechas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Pago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Pago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Vencimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Vencimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Anio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anio)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdFecha }) |
    @Html.ActionLink("Back to List", "Index")
</p>
