@model SistemWalter.Context.Inscripcione

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Inscripciones</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Inicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Inicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Monto_Pagar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Monto_Pagar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plazo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plazo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cuota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cuota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado_Config)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado_Config)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Registro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Registro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cliente.Nombre_Completo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Nombre_Completo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Regresar", "Index")
</p>
